<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEnderecoLabel" jhiTranslate="churchControlApp.endereco.home.createOrEditLabel">Create or edit a Endereco</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!endereco.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="endereco.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="churchControlApp.endereco.rua" for="field_rua">Rua</label>
            <input type="text" class="form-control" name="rua" id="field_rua"
                [(ngModel)]="endereco.rua" required/>
            <div [hidden]="!(editForm.controls.rua?.dirty && editForm.controls.rua?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.rua?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="churchControlApp.endereco.numero" for="field_numero">Numero</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                [(ngModel)]="endereco.numero" required/>
            <div [hidden]="!(editForm.controls.numero?.dirty && editForm.controls.numero?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numero?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="churchControlApp.endereco.cep" for="field_cep">Cep</label>
            <input type="text" class="form-control" name="cep" id="field_cep"
                [(ngModel)]="endereco.cep" required/>
            <div [hidden]="!(editForm.controls.cep?.dirty && editForm.controls.cep?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cep?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="churchControlApp.endereco.cidade" for="field_cidade">Cidade</label>
            <input type="text" class="form-control" name="cidade" id="field_cidade"
                [(ngModel)]="endereco.cidade" required/>
            <div [hidden]="!(editForm.controls.cidade?.dirty && editForm.controls.cidade?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cidade?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="churchControlApp.endereco.estado" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                [(ngModel)]="endereco.estado" required/>
            <div [hidden]="!(editForm.controls.estado?.dirty && editForm.controls.estado?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estado?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
